<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  VADYM HARKUSHA 300909484
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <roleManager enabled="true" />
    <pages theme="Light"></pages>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms cookieless="UseUri">
        <credentials passwordFormat="Clear">
          <user name="Vadym"  password="password" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="LocalSqlServer"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>

    <!--<roleManager defaultProvider="AspNetSqlRoleProvider"
      enabled="true"
      cacheRolesInCookie="true"
      cookieName=".ASPROLES"
      cookieTimeout="30"
      cookiePath="/"
      cookieRequireSSL="true"
      cookieSlidingExpiration="true"
      cookieProtection="All" >
      <providers>
        <add
          name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="SqlServices"
          applicationName="SampleApplication" />
      </providers>
    </roleManager>-->
  </system.web>
  <location path="AddBook.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="LibraryCollection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=LibraryCollection;Integrated Security=True;" providerName="System.Data.SqlClient"/>

    <remove name="LocalSqlServer" />
    
    <add name="LocalSqlServer" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=LibraryCollection;Integrated Security=True;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>
